body {
    background-image: linear-gradient(to bottom right, darkorchid, yellow);
    background-repeat: no-repeat;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
}

.stage {
    /* position: relative; */
    text-align: center;
    color: white;
}

.square {
    width: 100px;
    height: 100px;
    border: 2px solid white;
    display: inline-block;
}

.o {
    position: relative;
}

.o::after {
    /* Emojipedia */
   content: "🐭";
   /* Deixar o emoji maior */
   font-size: 50px;
   line-height: 100px;
   /* O position absolute só funciona se o elemento pai (.o) estiver com position fora do padrão (não absolute).
   Se não, ele vai se posicionar em relação ao body */
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

.x {
    position: relative;
}

.x::after {
    /* Emojipedia */
   content: "😾"; 
   /* Deixar o emoji maior */
   font-size: 50px;
   line-height: 100px;
   /* O position absolute só funciona se o elemento pai (.o) estiver com position fora do padrão (não absolute).
   Se não, ele vai se posicionar em relação ao body */
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
}

.placar {
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    /* position: relative; */
    text-align: center;
    font-size:x-large;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-top: 30px;
}

#placar-p0, #placar-p1, .bolinha, .espadinha {
    display: inline-block;
}

.bolinha {
    margin-right: 15px;
    font-size: 150%;
}

.bolinha::after {
    content: "🐭";
    /* display: inline-block; Preciso colocar o display na classe .bolinha, sem o 'after'*/
    /* width: 150%; Aqui não funciona, tem que ser no .bolinha com 'font-size' ;*/
}

.espadinha {
    margin-left: 15px;
    font-size: 150%;
}

.espadinha::after {
    content: "😾";
}

#bt-reset {
    border: 2px solid white;
    color: mintcream;
    font-size: 100%;
    position: relative;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 15%;
    height: 40px;
    background-color: #2f4f4f;
    backface-visibility: hidden;
    border-radius: 5%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    bottom: 0;
}

#bt-reset:hover {
    width: 17%;
    height: 42px;
    font-size: 120%;
}